$primary: #ec4141;
$dark: #212529;
$free: #50c475;
$colors: (
    primary: $primary,
    dark: $dark,
    free: $free,
);
$cursors: "pointer", "cell", "col-resize", "copy", "crosshair", "grab", "move";
