@import "./variable";
body,
html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    @extend .cantSelect;
}
a {
    color: #0c73c2;
    text-decoration: none;
}
.canSelect {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Chrome/Safari/Opera */
    -khtml-user-select: text; /* Konqueror */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently not supported by any browser */
}
.cantSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.hover-opacity {
    opacity: 0.86;
    &:hover {
        opacity: 1;
    }
}
// 鼠标样式
@each $item in $cursors {
    .cursor-#{$item} {
        cursor: #{$item};
    }
}
@each $key, $val in $colors {
    .bg-#{$key} {
        background-color: #{$val};
    }
}
$utilities: (
    "opacity": (
        property: opacity,
        values: (
            0: 0,
            25: 0.25,
            50: 0.5,
            75: 0.75,
            100: 1,
        ),
    ),
    "viewport-width": (
        property: width,
        class: vw,
        values: (
            25: 25vw,
            50: 50vw,
            75: 75vw,
            100: 100vw,
        ),
    ),
);
